# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.user

**/Debug/
**/obj/
**/bin/

/.vs
/ZM.Examples.Generated/CMakeFiles
/ZM.Examples.Generated/CMakeCache.txt
/ZM.Examples.Generated/cmake_install.cmake
/ZM/Generator/*.cs